.ranking {
    text-align: left;
    padding: 4px 12px 4px 0px;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(208, 208, 208);
    cursor: pointer;
    display: flex;
}
.ranking-title {
    color: rgb(126, 126, 126);
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 2px;
}
.ranking-order {
    font-style: oblique;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    width: 20px;
    border-radius: 10px;
    color: rgb(107, 81, 255);
    font-size: 1.4rem;
    align-self: baseline;
    margin: 0px 16px 0px 8px;
    font-weight: 700;
}
.ranking:hover {
    background-color: rgb(245, 245, 245);
}
.ranking-score {
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    border-radius: 15px;
    background: white;

    width: 25px;
    height:25px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 8px
}
.ranking-info {
    font-size: 0.8rem;
    display: flex;
    justify-content: left;
    overflow: hidden;
    height: 40px;
}
.ranking-info span {
    display: inline-block;
    margin: 0px 4px;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  } */
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(189, 189, 189); 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8b8b8b; 
  }